{% extends "base.html" %}

{% block head %}
<title>Carbon Footprint Reduction | Suggestions</title>
{% endblock %}

{% block body %}
<div style="margin: 5%;">
    <div style="text-align: center">
    <h1>Carbon Footprint Reduction</h1>
    <p style="color: grey; font-style: italic;">Follow these tips to reduce your organization's carbon footprint !</p>
    </div>
    <br>
    <h2>1. Choose green appliances</h2>
    <br>
    <p>Whether it’s buying new office equipment or replacing it, always look for the most efficient options based on their energy star rating. Choosing energy-saving appliances is a simple, yet very effective move you can take to drastically reduce your company’s carbon footprint. Not only will you be saving the environment a harmful amount of emissions, but you’ll be seeing the effects of this choice on your energy consumption bills, too!</p>
    <br>
    <h2>2. Choose efficient office lighting</h2>
    <br>
    <p>Another relatively simple yet radically effective way you can make your office greener is by changing to lighting that requires less energy. Apart from choosing LED light bulbs, maximizing natural light is always a great idea, as well as installing motion sensors that will switch lights off when not being used, and dimmable lights that can be adjusted to different situations and lighting needs.</p>
    <br>
    <h2>3. Optimize heating and air conditioning</h2>
    <br>
    <p>Complaints about office temperature are very common among employees. Careful analysis of the ideal thermostat for your building is key to having a more energy-efficient heating and cooling system, lowering your companies’ energy bill, and ensuring thermal comfort for your employees.</p>
    <br>
    <h2>4. Reduce food waste</h2>
    <br>
    <p>An estimated one-third of all food produced is lost or wasted, according to a study by the UN's Food and Agriculture Organization. How does that have an impact on carbon emissions? Because wasting food also means wasting all the energy and resources used to grow it, produce it, package it, and transport it. On top of that, when food rots it produces methane, another greenhouse gas. 

        Especially if your company has a cafeteria, the amount of food that goes to waste can be huge. Making sure that as little food as possible goes to waste should be a top priority, but even if it does, the best your company can do is take part in programs that ensure food donation, composting, and turning food into animal feed or other products.</p>
        <br>
        <h2>5. Promote a paperless culture</h2>
    <br>
    <p>Nowadays, in most companies, very few documents actually need to be printed. When everything is kept online, on emails, and in the cloud, why are we still printing like it’s 1999? Adopting a paperless policy and making sure employees are well aware of it will definitely have a positive impact on reducing your company’s CO2 emissions. 

        A study by Multibriefs has even shown that companies that choose to go paperless can save an average of $80 per employee. And it’s not just about costs! Being paperless means better organization, more collaboration between employees, increased efficiency, and more security.</p>
        <br>
        <h2>6. Promote waste recycling</h2>
    <br>
    <p>Encourage employees to recycle by leaving no excuse not to sort their trash correctly. Make sure that enough recycling bins are in place, that instructions on how to sort waste are clear, and that your employees are aware of the importance your company places on recycling.</p>
    <br>
    <h2>7. Avoid single-use coffee cups, glasses, silverware, and plates</h2>
    <br>
    
    <p>Did you know that an estimated 15 billion paper coffee cups are thrown away every year in the US only? Offering free coffee to your employees is one of the most appreciated perks according to Keurig Green Mountain’s “Coffee Break Survey”, but it comes with carbon dioxide emissions. The solution is quite simple: replace single-use coffee cups by reusable mugs! The same goes for glasses, silverware, and plates. Definitely not a big investment for your company, but a very positive one for the environment.</p>
    <br>
    <h2>8. Promote greener commutes</h2>
    <br>
    <p>Employees commuting to the office adds up to your business' carbon emissions—and, actually, it adds up a lot. From encouraging biking and carpooling to offering incentives that reduce the costs of public transportation, buying or using electric vehicles, there are so many ways your company can promote a greener commute.</p>
    <br>
    <h2>9. Use rechargeable batteries</h2>
    <br>
    <p>Small appliances, remote controls, calculators, radios, fire alarms… They all need batteries in order to work. However, the type of batteries used does have an impact on the environment. Why stick to single-use batteries, when you can use rechargeable ones that allow you to reuse them hundreds of times?
    </p>
    <br>
    <h2>10. Rethink the way you drink coffee</h2>
    <br>
    <p>Your employees’ favorite drink doesn’t have to mean tons of unnecessary waste, as well as intensive, environmentally unfriendly production methods. Some great initiatives when it comes to making your office’s coffee consumption more sustainable range from choosing FairTrade coffee to banning non-recyclable coffee capsules or even composting coffee grounds.
    </p>
    <br>
    <h2>11. Use energy-efficient building options</h2>
    <br>
    <p>When considering the big amounts of energy used for lighting, heating, and cooling an office, it’s clear that everything should be optimized to ensure energy efficiency. Review and assess what can be improved within your office when it comes to isolation and use of natural and artificial light, as well as energy usage and fossil fuels vs renewable energy. There’s no excuse for energy waste if there’s a way to avoid it!</p>
    <br>
    <h2>12. Provide organic and FairTrade food and drinks</h2>
    <br>
    <p>If your organization provides food and drinks, make sure they’re organic and FairTrade certified whenever possible. This ensures that they were produced in the most sustainable way possible, both in terms of growing the food as well as providing fair employment to local producers in developing countries. On the other end, employees will definitely appreciate this gesture too, and you’ll be supporting their well-being.</p>
    <br>
    <h2>13. Replace water bottles with a tap filter</h2>
    <br>
    <p>Last on our list, let’s look at a big source of plastic waste and emissions: water bottles. Water is essential, but not plastic bottles. Swapping bottled water for filtered water has lots of benefits: from reducing plastic waste to saving costs and ensuring an unlimited supply of water. Tap water filters are easy to install and cost much less than buying bottled water.

        By now, hopefully, you’re more aware of all the possibilities at hand when it comes to reducing your office's carbon emissions and making its energy use more efficient. Remember: no matter how small your actions may seem, they can have a profound effect on our planet. At the end of the day, whether you're a small business or a big company, it is possible to make a big impact by making little impact!</p>

        <br>
        <h2>14. Choose eco-friendly airlines</h2>
    <br>
    <p>According to Guardian, a flight from London to New York city emits an average of 986 kg CO2, which is more than what most people of an entire country produce in a year. 

        To say that any airline is eco-friendly is far from the truth. But if you compare all the airlines, you can mark some airlines as lesser harmful to the environment. For instance, some airlines, such as Airbus 321 or Boeing 787, are more fuel-efficient. Hence, they burn less fuel and emit lower emissions as compared to some older models. 
        
        Moreover, some airlines also try to enforce sustainable practices to reduce the business travel carbon footprint, such as ensuring only recyclable materials, vegetarian food, lighter carts to offload the plane, among others.   
        
        You should try to book tickets on these eco-friendly airlines. To check if a flight is eco-friendly, you can go to Google Flights, which shows the carbon emissions of each flight. <p>
            <br>
    <h2>15. Prefer economy class</h2>
    <br>
    <p>According to Reuters, flying in business class emits three times as much emissions as the economy class. 

        Let’s face it – if any of us gets the choice of flying business or economy class, what will we choose. Business class, right? However, whenever you are flying business class, you occupy more space than required. Hence, the more business class seats, the fewer seats can be accommodated in an airplane. However, the plane’s fuel consumption remains the same, leading to more carbon emissions per passenger. 
        
        When planning business travel, consider booking only economy class seats. Additionally, you can also prefer airlines with fewer or no business class seats at all. Generally, the LCCs (Low-Cost Carriers) do not have business class seats.   </p>
        <br>
        <h2>16. Avoid layovers</h2>
    <br>
    <p>A flight emits more carbon emissions during takeoff and landing of a flight. Hence, when you opt for a flight with multiple stoppages, the entire journey leads to more carbon emissions compared to non-stop flights. Moreover, the total distance of multi-stop flights is more than the non-stop flights, adding to the emissions.  

        Instruct your travel managers to prefer non-stop flights, even if they cost a bit more. If you are using a travel booking tool for employees, you should draft a travel policy to accommodate the budget of a non-stop flight so that employees can book tickets accordingly. </p>
        <br>
        <h2>17. Choose green hotel</h2>
    <br>
    <p>Business travel is not only about flights and cabs. The travelers also need accommodation for the period of their stay during the visit. A frequent business traveler stays in hotels for most of the year.  

        However, it’s strange that although there’s always a buzz around carbon emission due to flights, there is none when it comes to hotels. According to  ScienceDirect, international tourist hotels, on average, emit around 28.9 Kg CO2/ person/night. There are multiple factors, such as electricity, air conditioning, refrigeration, and cooking, that cause carbon emissions from a hotel. 
        
        Hence, whenever you try to book accommodation for your employee or they book themselves, always prefer a green hotel over others. A green hotel is a hotel that deploys the infrastructure required to sustain an eco-friendly environment, like the installation of solar panels for electricity, heating, and more. 
        
        Moreover, a green hotel also implements procedures for recycling and uses only eco-friendly transport. </p>
        <br>
        <h2>18. Adopt a sustainable business travel policy</h2>
    <br>
    <p>Although travel policy defines the procedures and protocols for business travel, implementing environmental-friendly features in the travel policy itself ensures compliance by the employees. 

        Try to accommodate features like showing eco-friendly options first, blacklisting flights with the maximum business travel carbon footprint, keeping track of employees’ transportation preferences, offering them rewards for choosing eco-friendly modes of transportation, and more. 
        
        </p>

        <br>
    
        <div style="text-align: right;">
            <a href="/">
              <button class="btn btn-default">Back</button>
            </a>
          </div>
    

</div>
{% endblock %}